@import url("@/assets/css/pretendard-subset.css");

html {font-size:62.5%;}

* {margin:0; padding:0; color:#222; font-size:1.4rem; font-family:'Pretendard', sans-serif; box-sizing:border-box;}

/* reset */
ul, ol {list-style:none;}
button, select, input {border:0;}
a {text-decoration:none;}
a:visited {color:#222;}
button {cursor:pointer;}

/* align */
.al {text-align:left !important;}
.ac {text-align:center !important;}
.ar {text-align:right !important;}

/* color */
.highlight {color:#0B48EF; text-decoration:underline;}

/* margin */
.mt10 {margin-top:10px !important;}

/*:::::::::::::::::::::::::::::::Element :::::::::::::::::::::::::::::::*/
input {font-size:1.4rem; vertical-align:middle;}
input, textarea {height:42px; padding:0 15px; background-color:#fff; border:1px solid #e8e5e2; border-radius:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}

textarea {width:100%; min-height:150px;}

select {width:100%; height:52px; padding:12px 40px 12px 12px; font-size:1.4rem; line-height:18px; border:1px solid #aaa; -webkit-appearance:none; -moz-appearance:none; appearance:none; outline:none; box-sizing:border-box;}

/* button */
[class*="btn_"] {height:26px; padding:0 10px; font-size:1.4rem; border-radius:10px; display:inline-flex; align-items:center;justify-content: center;}

/* button size */
.btn_big {height:52px; padding:0 16px; font-size:1.8rem;}
.btn_mid {height:44px; padding:0 10px; font-size:1.4rem;}
.btn_small {height:32px; padding:0 4px; font-size:1.2rem;}

/* button color */
[class*="btn_"][class*="fill"] {color:#fff; background-color:#222;}
[class*="btn_"][class*="border"] {color:#222; background-color:#fff; border:1px solid #222;}
[class*="btn_"][class*="primary"] {color:#fff; background-color:#107AF2;}
[class*="btn_"][class*="gray"] {color:#161616; background-color:#F2F2F4;}
[class*="btn_icon"][class*="before"]::before  {content:''; width:20px; height:20px; margin-right:10px; background:red; display:inline-block;}
[class*="btn_icon"][class*="after"]::after  {content:''; width:20px; height:20px; margin-left:10px; background:red; display:inline-block;}
.btn_download_file { display: inline-flex; align-items: center; gap: 12px; background: none; border: 0; cursor: pointer; }
.btn_download_file::before {content:''; width:24px; height:24px; background:red; display:inline-block;}

.btn_icon.search {}

.btnBox {display:inline-flex; align-items:center;}
.btnBox [class*="btn_"] + [class*="btn_"] {margin-left:8px;}

/* button back */
.btn_back {height:72px; padding:0 24px; font-size:2rem; font-weight:400; letter-spacing:-0.01em; color:#000; background-color:transparent; border:0; gap:10px; cursor:pointer;}
.btn_back:before {width:16px; height:30px; background-color: #eee; content:''; display:inline-block; }


/* tab */
.tab_wrap {margin-bottom:24px; position:relative;}
.tab_wrap:has(ul.type_02) {margin-bottom:0;}
.tab_wrap .more {position:absolute; top:5px; right:0; display:flex; align-items:center; color:#888;}
.tab_wrap .more:after {width:8px; height:8px; margin-top:-2px; margin-right:7px; margin-left:10px; border:1px solid #888; border-bottom:0; border-left:0; content:''; display:block; transform:rotate(45deg);}
.tab_wrap ul {display:flex; flex-wrap:wrap;}
.tab_wrap li {list-style:none;}
.tab_wrap li .item {display:block; padding:24px 20px; white-space:nowrap; cursor:pointer;}
.tab_wrap li.current .item {color:#161618;}

.tab_wrap.tabSlide {overflow:hidden;}
.tab_wrap.tabSlide ul {flex-wrap:nowrap; transition:transform 0.4s cubic-bezier(0.1, 0.57, 0.1, 1);}
/* .tab_wrap ul.type_01 {border-bottom:1px solid #C4C4D0;} */
.tab_wrap ul.type_01 li {flex:1; border-bottom:1px solid #C4C4D0;}
.tab_wrap ul.type_01 li.current {border-bottom:2px solid #161618;}
.tab_wrap ul.type_01 li .item {color:#90909A; font-size:2.4rem; font-weight:600; text-align:center;line-height: 1.35;letter-spacing: -0.01em;}
.tab_wrap ul.type_01 li.current .item {color:#161618;}

.tab_wrap ul.type_02 {gap:8px}
.tab_wrap ul.type_02 li {}
.tab_wrap ul.type_02 li .item {padding:15px 28px; color:#67676F; font-size:2rem; font-weight:700; text-align:center; letter-spacing: -0.01em;background-color:#F8F8F8; border-radius:99px;}
.tab_wrap ul.type_02 li.current .item {color:#161616;background:transparent; border:1px solid #000000;}

.tab_wrap ul.type_03 {gap:8px}
.tab_wrap ul.type_03 li {}
.tab_wrap ul.type_03 li .item {padding:15px 28px; color:#161616; font-size:20px; font-weight:500; text-align:center; background-color:#F8F8F8; border:1px solid #161616; border-radius:99px;}
.tab_wrap ul.type_03 li.current .item {color:#fff; background:#161616; border:transparent;}

.input_wrap {flex:1;}
.input_wrap input[type='text']:disabled {background-color:#eee !important; border-color:#ddd !important;}

/* check */
.input_wrap .check {min-height:20px; padding-left:26px; line-height:1; position:relative; display:inline-block; cursor:pointer;}
.input_wrap .check>* {line-height:1.4; vertical-align:middle; display:inline-block;}
.input_wrap .check input {margin:0 0 0 1px; position:absolute;}
.input_wrap .check .label:before, .input_wrap .check .label:after {content:''; position:absolute; display:inline-block;}
.input_wrap .check input[type='radio'], .input_wrap .check input[type='checkbox'] {opacity:0;}

/* radio */
.input_wrap .check input[type='radio'], .input_wrap .check input[type='radio'] + .label:before {width:20px; height:20px; background-color:#ddd; border-radius:50%; box-sizing:border-box; top:0; left:0;}
.input_wrap .check input[type='radio']:checked + .label:before {background-color:#00bc70;}
.input_wrap .check input[type='radio'] + .label:after, .input_wrap .check input[type='radio']:checked + .label:after {width:8px; height:8px; background-color:#fff; border-radius:50%; box-sizing:border-box; top:6px; left:6px;}

/* checkbox */
.input_wrap .check input[type='checkbox'], .input_wrap .check input[type='checkbox'] + .label:before {width:20px; height:20px; background-color:#ddd; box-sizing:border-box; top:0; left:0; transition:all 0.2s;}
.input_wrap .check input[type='checkbox'] + .label:after {width:6px; height:9px; border:2px solid #fff; border-top:0; border-left:0; top:4px; left:7px; transform:rotate(45deg);}
.input_wrap .check input[type='checkbox']:checked, .input_wrap .check input[type='checkbox']:checked + .label:before {background-color:#00bc70;}
.input_wrap .check input[type='checkbox']:disabled, .input_wrap .check input[type='checkbox']:disabled + .label:before {background-color:#f5f5f5; cursor:default;}

/* check_ani */
.input_wrap .check_ani {padding-left:0; position:relative; display:inline-block;}
.input_wrap .check_ani input {margin:0 0 0 1px; position:absolute; opacity:0;}
.input_wrap .check_ani input[type='checkbox'] + .label:after {width:18px; height:18px; background-color:#fff; border:0; border-radius:50%; content:''; position:absolute; top:50%; left:0; z-index:1; display:block; transform:translateY(-50%); transition:all  0.2s; box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25);}
.input_wrap .check_ani input[type='checkbox']:checked + .label:before {background-color: #12b560;}
.input_wrap .check_ani input[type='checkbox']:checked + .label:after {left:18px;}
.input_wrap .check_ani .label {min-height:20px; padding-left:48px; font-size:1.6rem; line-height:1; position:relative; display:block;}
.input_wrap .check_ani input[type='checkbox'] + .label:before {width:35px; height:20px; background-color:#dcdcdc; border-radius:60px; content:''; position:absolute; top:0; left:0;}

/* label.input */
.input_wrap label.input, .input_wrap label.select > div {position:relative; display:block;}
.input_wrap label.input i {color:#aaa; font-size:1.6rem; font-style:normal; line-height:18px; position:absolute; top:25px; left:15px; display:block; transform:translateY(-50%);}
.input_wrap label.input i.hide {display:none;}
.input_wrap label.input input[type='text'], .input_wrap label.input input[type='password'], .input_wrap label.input input[type='number'] {width:100%; font-size:1.6rem; line-height:18px;}
.input_wrap label.input * {flex:1 auto;}

/* checkbox02 */
.input_wrap.checkbox02 .check {padding:0;}
.input_wrap.checkbox02 input[type='checkbox'] {opacity:0;}
.input_wrap.checkbox02 input[type='checkbox'] + .label {width:110px; height:35px; padding:0; font-size:1.6rem; line-height:33px; border:1px solid #ccc; border-radius:17px; text-align:center;}
.input_wrap.checkbox02 input[type='checkbox']:checked+.label {color:#fff; background-color:#12b560; border-color:#12b560;}
.input_wrap.checkbox02 input[type='checkbox'] + .label:before, .input_wrap.checkbox02 input[type='checkbox'] + .label:after {content:none;}

/* round_square */
.input_wrap.round_square .check {padding:0;}
.input_wrap.round_square input[type='checkbox'], .input_wrap.round_square input[type='radio'] {opacity:0;}
.input_wrap.round_square input[type='checkbox'] + .label, .input_wrap.round_square input[type='radio'] + .label {height:30px; padding:0 20px; color:#aaa; font-size:1.4rem; line-height:29px; background-color:#f5f5f5; border-radius:5px; text-align:center;}
.input_wrap.round_square input[type='checkbox']:checked+.label, .input_wrap.round_square input[type='radio']:checked+.label {color:#fff; background-color:#12b560; border-color:#12b560;}
.input_wrap.round_square input[type='checkbox'] + .label:before, .input_wrap.round_square input[type='radio'] + .label:before, .input_wrap.round_square input[type='checkbox'] + .label:after, .input_wrap.round_square input[type='radio'] + .label:after {content:none;}

/* label_wrap */
.label_wrap {position:relative; flex:1;}
.label_wrap button[class*='icon_'] {width:24px; height:24px; font-size:0; border-radius:50%; position:absolute; top:9px; right:15px; z-index:1; display:none;}

.label_wrap button[class*='icon_']+button[class*='icon_'] {margin-right:34px;}
.label_wrap button[class*='icon_'].active {display:block;}

.label_wrap button.icon_del {background-position:0 0;}
.label_wrap button.icon_pass {background-position:-80px 0;}
.label_wrap button.icon_text {background-position:-40px 0;}

/* error */
.err input[type='text'] {border-color:#ff0000;}

/* select_form */
label.select > div {position:relative; display:block;}
label.select > div:after {width:12px; height:12px; margin-top:-4px; border:1px solid #222; border-top:0; border-left:0; content:''; position:absolute; top:50%; right:16px; z-index:1; transform:translateY(-50%) rotate(45deg);}
label.select select {color:#aaa; background-color:transparent; border-radius:12px; -moz-appearance:none;}
label.select select:disabled {background-color:#eee; border-color:#ddd;}
label.select select.changed {color:#222;}
label.select > em {margin-top:5px; color:#F24F39; font-size:1.2rem; line-height:18px; display:none;}
label.select.err > em {display:block;}

/* table */
.policy_wrap {font-size:14px;}
.policy_wrap  * {margin:0; padding:0; list-style:none;}
.policy_wrap > * + * {margin-top:40px;}
.policy_wrap dt {font-weight:bold;}
.policy_wrap > dl > dt {margin-top:40px !important; font-size:16px;}
.policy_wrap > dl > dt:first-of-type {margin-top:0 !important;}
.policy_wrap > dl > dd > span {margin-bottom:5px; display:block;}
.policy_wrap > dl > dd > ul > li {padding-left:16px; position:relative;}
/* .policy_wrap  dl > dd > ul > li::before {content: "-"; width:auto; height:auto; color:#555; font-size:18px; background:none; position:absolute; left:0; top:0;} */
.policy_wrap > dl > dd > ul + p, .policy_wrap > dl > dd > ul + strong {margin-top:8px; margin-bottom:8px;}
.policy_wrap > dl > dd > ul + strong {font-weight:700; display:block;}
.policy_wrap dt + dd {margin-top:14px;}
.policy_wrap dd .desc {margin-bottom:16px; color:#67676F; font-size:18px;}
.policy_wrap dd .desc:last-of-type {margin-bottom:0;}
.policy_wrap dl dd + dt {margin-top:20px;}
.policy_wrap p + ul {margin-top:14px;}
.policy_wrap li + li {margin-top:8px;}
.policy_wrap li ul {margin-top:5px;}
.policy_wrap li li {padding-left:10px;}
.policy_wrap table {width:100%; margin-top:10px; border-collapse:collapse; word-break:keep-all; }
.policy_wrap th, .policy_wrap td {padding:10px; border:1px solid #E5E5E9; white-space: normal; word-break: keep-all; }
.policy_wrap th {background-color:#F8F8F8; border-right:0; border-top:1px solid #000000;}
.policy_wrap .sub_explain {margin-top:8px; color:#999; display:block;}
.important {font-size:16px; font-weight:700; text-decoration:underline;}
.bullet_01 li { position: relative; padding-left: 15px; color: #67676f; font-size: 20px; line-height: 1.6; }
.bullet_01 li::before { content: ""; position: absolute; left: 0; top: 12px; width: 4px; height: 4px; background: #67676f; border-radius: 50%; }
.bullet_01.no_type li::before {content:none !important;}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:768px) {
    .tab_wrap{margin-bottom: 16px;}
    /* .tab_wrap ul.type_01, .tab_wrap ul.type_02{padding-left: 20px;} */
    /* .tab_wrap ul.type_01::after, .tab_wrap ul.type_02::after{content:''; min-width:20px; flex-shrink:0;} */
    .tab_wrap ul.type_01 li .item{padding:16px 12px;font-size: 1.8rem; line-height: 1.5;letter-spacing: 0%;text-align: center;}
    .tab_wrap ul.type_02 li .item{padding:8px 18px;font-weight: 400;font-size: 1.4rem;line-height: 1.4;letter-spacing: -0.01em;}
    .tab_wrap:has(ul.type_01)::after{content:''; width:8.53vw; height:100%; background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); position:absolute; top:0; right:0; pointer-events:none;}
}

@media screen and (max-width:767px) {
    .tab_wrap ul.type_01 li .item {font-size:18px;}
    .tab_wrap ul.type_02 li .item {padding:8px 18px; color:#666666; font-size:14px;}
    .btn_download_file {gap:0px;}
    .btn_download_file span {font-size:0;}
}