/* header */
nav {position:relative;}
nav ul.depth1 {display:flex;}
nav ul.depth2 {width:100vw; background-color:#fff; position:absolute; top:100%; left:0;}
nav li > ul {height:0; overflow:hidden;}
nav li:hover ul, nav li.is_open ul {height:auto; overflow:initial; display:block;}
nav li:hover ul.depth2, nav li.is_open ul.depth2 {height:auto; overflow:initial; display:flex;}

/* breadcrumb */
.breadcrumb > ul {display:flex;}
.breadcrumb > ul > li {position:relative;}
.breadcrumb li ul {position:absolute; top:100%; left:0; display:none;}

/* modal */
.modal_wrap {text-align:center; opacity:0; position:fixed; top:50%; right:50%; bottom:50%; left:50%; z-index:1; display:block; overflow:hidden; transition:opacity 0.15s ease-out;}
.modal_wrap.active {opacity:1; top:0; right:0; bottom:0; left:0;}
.modal_dim {background-color:rgba(0,0,0,0.6); position:fixed; top:0; right:0; bottom:0; left:0; z-index:99;}

.modal_wrap .modal_container {padding:20px; background-color:#fff; text-align:left; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.modal_header {margin-bottom:10px; padding-bottom:5px; font-size:18px; font-weight:700; border-bottom:1px solid #333; position:relative;}
.modal_header .btn_close {width:25px; height:25px; font-size:0; position:absolute; top:0; right:0; display:inline-block;}
.modal_header .btn_close:before, .modal_header .btn_close:after {width:30px; border-top:1px solid #333; content:''; position:absolute; top:50%; right:-4px; display:inline-block;}
.modal_header .btn_close:before {transform:rotate(45deg);}
.modal_header .btn_close:after {transform:rotate(-45deg);}

.modal_bottom {margin-top:20px; padding-top:20px; border-top:1px dashed #ccc; display:flex; align-items:center; justify-content:center;}

/* modal size */
.modal_container {max-width:96%;}
[modal-type="small"] .modal_container {width:450px;}
[modal-type="mid"] .modal_container {width:650px;}
[modal-type="full"] .modal_container {width:98%;}

/* toast */
.toast {height:50px; line-height:48px; background-color:#fff; border:1px solid #d4d4d4; border-radius:50px; box-shadow:0 4px 6px rgba(0,0,0,0.3); opacity:0; position:fixed; bottom:-50px; left:50%; z-index:100; display:inline-block; transform:translateX(-50%); transition:all 0.35s;}
.toast.confirm {padding:0 50px 0 40px;}
.toast.auto {padding:0 40px;}
.toast.active {bottom:100px; opacity:1;}
.toast .btn_close {width:20px; height:20px; font-size:0; position:absolute; top:50%; right:20px; display:inline-block; transform:translateY(-50%);}
.toast .btn_close:before, .toast .btn_close:after {width:15px; border-top:1px solid #333; content:''; position:absolute; top:50%; right:0; display:inline-block;}
.toast .btn_close:before {transform:rotate(45deg);}
.toast .btn_close:after {transform:rotate(-45deg);}
